#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

#container span {
    display: block;
    background: #000;
    width: 200px;
    /* 2倍に拡大 */
    height: 10px;
    /* 2倍に拡大 */
    margin-top: 10px;
    animation: load 2s infinite;
    border-radius: 10px;
}

#container span:nth-child(2) {
    animation-delay: 100ms;
}

#container span:nth-child(3) {
    animation-delay: 200ms;
}

@keyframes load {
    50% {
        width: 10px;
        margin-right: 190px;
        opacity: .1;
    }
}