.kame_line_001 {
    text-align: center;
    border-bottom: solid 3px #cce4ff;
    position: relative;
}

.kame_line_001:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
}