.kame_table_001 {
    width: 70%;
    height: 300px;
}

.kame_table_001 tr {
    border-bottom: solid 2px white;
    font-size: 2.0em;
}

.kame_table_001 tr:last-child {
    border-bottom: none;
}

.kame_table_001 th {
	border-radius: 10px;
    position: relative;
    text-align: left;
    width: 30%;
    background-color: var(--main-button-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.kame_table_001 th:after {
	border-radius: 10px;
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
    border-left: 10px solid var(--main-button-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.kame_table_001 td {
	border-radius: 10px;
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}

table.kame_table_002 {
    margin: 0 auto;
    width: 650px;
    border: none;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: #f5f5f5;
}

table.kame_table_002 th {
    vertical-align: middle;
    height: 53px;
    width: 124px;
    border-right: solid 1px #666;
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.kame_table_002 td.data {
    padding: 0;
    margin: 0;
    height: 53px;
    width: 100px;
    border: none;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

.kame_table_002 td:fst-child {
    padding: 0 0 0 10px;
    vertical-align: middle;
}

.kame_table_002 td.bar {
    height: 1px;
    width: 100%;
    border-top: solid 1px #34495e;
}

.kame_table_003 {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: large;
}

.kame_table_003 tr *:nth-child(1) {
    color: black;
    width: 7.0vh;
    background: #e4e4e4;
    height: 7.0vh;
}

.kame_table_003 td {
    color: black;
    border: solid 1px rgb(117, 117, 117);
    background-color: white;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
    height: 6vh;
}

.kame_table_003 th {
    background: #e4e4e4;
    color: black;
    border: solid 1px rgb(117, 117, 117);
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    padding: 10px 0;
    height: 2.0vh;
    width: 12.5%
}