@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    font-size: 30px;
    background: #FFFFFF;
    width: 90%;
    padding: 4vh;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 30px;
}

.form button {
    display: block;
    text-align: center;
    background: transparent;
    text-decoration: none;
    border-radius: 20px;
    margin: auto;
    width: 600px;
    padding: 0rem 6rem;
    font-weight: bold;
    font-size: 1.2em;
    border: 6px solid var(--main-button-color);
    color: var(--main-button-color);
    transition: 0.5s;
    box-shadow: #ddffea;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: var(--main-button-color);
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 25px;
}

.form .message a {
    color: var(--main-button-color);
    text-decoration: none;
}

.form .message a:hover {
    text-decoration: underline;
}

.form .message a:visited {
    color: var(--main-button-color);
}

.form .register-form {
    display: none;
}