p {
  font-size: 15px;
  font-weight: 1000;
}

.kame_font_001 {
  text-align: center;
  font-size: 1.0em;
}
.kame_font_002 {
  text-align: center;
  font-size: 2.0em;
}
.kame_font_003 {
  text-align: center;
  font-size: 3.0em;
}
.kame_font_004 {
  text-align: center;
  font-size: 4.0em;
}
.kame_font_005 {
  text-align: center;
  font-size: 5.0em;
}
.kame_font_006 {
  text-align: center;
  font-size: 6.0em;
}
.kame_font_007 {
  text-align: center;
  font-size: 7.0em;
}
.kame_font_008 {
  text-align: center;
  font-size: 8.0em;
}
.kame_font_009 {
  text-align: center;
  font-size: 9.0em;
}
.kame_font_010 {
  text-align: center;
  font-size: 10.0em;
}